<h1>Residentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>CPF</th>
      <th>CNS</th>
      <th>Email</th>
      <th>Data de nascimento</th>
      <th>Celular</th>
      <th>Foto</th>
      <th>CEP</th>
      <th>Rua</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Complemento</th>
    </tr>
  </thead>
  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.full_name %></td>
        <td><%= resident.cpf %></td>
        <td><%= resident.cns %></td>
        <td><%= resident.email %></td>
        <td><%= resident.birth_date.strftime("%d/%m/%Y") %></td>
        <td><%= resident.phone %></td>
        <td>
          <% if resident.photo.attached? %>
            <%= image_tag(resident.photo, style: "height:50px") %>
          <% end %>
        </td>
        <% if resident.address %>
          <td><%= resident.address.zip_code %></td>
          <td><%= resident.address.street %></td>
          <td><%= resident.address.neighborhood %></td>
          <td><%= resident.address.city %></td>
          <td><%= resident.address.state %></td>
          <td><%= resident.address.complement %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
