<h1>New 1 resident</h1>

<%= form_for @resident do |form| %>
  <% if @resident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

      <ul>
        <% @resident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :cns %>
    <%= form.text_field :cns %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date, max: Date.today.strftime('%Y-%m-%d') %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, data: {target: "hello.phone"}, action: "input->hello#mask" %>
    </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Resident.statuses.keys.to_a) %>
  </div>

  <div data-controller="hello">
  <%= form.fields_for :address do |address_form| %>
    <%= address_form.label :zip_code %> 
    <%= address_form.text_field :zip_code, data: { controller:'hello', action: 'input->hello#lookup', target:'zipcode' } %>
    <%= address_form.label :street  %>
    <%= address_form.text_field :street, data: {target: "hello.street"} %>
    
    <%= address_form.label :complement %>
    <%= address_form.text_field :complement, data: {target: "hello.complement"} %>
    
    <%= address_form.label :neighborhood %>
    <%= address_form.text_field :neighborhood, data: {target: "hello.neighborhood"} %>
    
    <%= address_form.label :city %>
    <%= address_form.text_field :city, data: {target: "hello.city"} %>
    
    <%= address_form.label :state %>
    <%= address_form.text_field :state, data: {target: "hello.state"} %>
    
    <%= address_form.label :ibge_code %>
    <%= address_form.text_field :ibge_code, data: {target: "hello.ibge_code"} %>
    </div>
    
  <% end %>  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to residents", residents_path %>
</div>
